@use './partials/navigation';
@use './partials/colors';
@use './partials/mixins';
@use './partials/aside';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: colors.$bg;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    @include mixins.scrollStyle;
}

.quiz-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    > article {
        flex-grow: 1;
    }
    .intro-section {
        margin-inline: auto;
        width: fit-content;
        text-align: center;
        transition: opacity 200ms;
        &.hidden {
            display: none;
        }
        &__title {
            color: #fff;
            font-size: clamp(1.8rem, 3vw + 1rem, 3rem);
            line-height: 1;
            text-align: center;
            margin-bottom: 1rem;
        }
        &__desc {
            color: colors.$darker-blue;
            font-weight: 700;
            font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
        }
        &__btn {
            margin-top: 1rem;
            border: none;
            background-color: lighten(colors.$nav, 20);
            font-family: 'Poppins', sans-serif;
            padding: 0.4rem 1rem;
            font-size: 1.4rem;
            color: colors.$white;
            border-radius: 0.4rem;
            cursor: pointer;
            transition: background-color 200ms;
            &.active {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: transparent;
                border: 5px solid gray;
                border-top-color: transparent;
                animation: rotating 1s ease infinite;
                cursor: default;
                @keyframes rotating {
                    to {
                        transform: rotate(1turn);
                    }
                }
                &:hover {
                    background-color: transparent;
                }
            }
            &:hover {
                background-color: lighten(colors.$nav, 30);
            }
        }
    }
}

.quiz-interface {
    width: min(90%, 600px);
    border: 2px solid darken(colors.$white, 40);
    padding: 2rem 1rem;
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 0.4rem;
    background-color: colors.$dark-grey;
    transition: 200ms ease;
    position: relative;
    &__flag-img {
        display: block; 
        width: min(95%, 600px);
        max-height: 300px;
        margin-inline: auto;
    }
    &__error.active {
        text-align: center;
        margin-top: 1rem;
        color: darken(colors.$white, 10);
        border: 3px solid #000;
        font-size: 1.2rem;
        background-color: colors.$light-red;
        width: min(90%, 350px);
        margin-inline: auto;
        padding: 0.5rem 0;
        border-radius: 0.4rem;
    }
    &.active {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: colors.$transparent-grey;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border: 5px solid colors.$darker-blue;
            border-top: 5px solid transparent;
            border-radius: 50%;
            animation: loading 1s ease-in-out infinite;
        }
        @keyframes loading {
            to {
                transform: translate(-50%, -50%) rotate(1turn);
            }
        }
    }
    &.hidden {
        display: none;
        transform: scale(0.5);
    }
    &__question {
        color: colors.$white;
        text-align: center;
    }
    &__question-number {
        color: darken(colors.$white, 20);
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
        output {
            display: inline-block;
            padding: .05rem .5rem;
            background-color: colors.$nav;
            border-radius: 0.2rem;
            border: 2px solid darken(colors.$white, 30);
            color: colors.$white;
        }
    }
    &__give-answer-btn {
        display: block;
        margin-inline: auto;
        border: none;
        background-color: colors.$nav;
        padding: 0.4rem 1.2rem;
        color: colors.$white;
        font-family: Poppins, sans-serif;
        font-size: 1.2rem;
        border-radius: 0.4rem;
        margin-top: 1.5rem;
        cursor: pointer;
        border: 2px solid darken(colors.$white, 20);
        transition: background-color 200ms;
        &:hover {
            background-color: lighten(colors.$nav, 10);
        }
    }
}

.answers-list {
    margin-top: 1.5rem;
    list-style: none;
    &__question-number {
        text-transform: uppercase;
        color: colors.$light-grey;
        font-size: 1.5rem;
    }
    &__item {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__input {
        appearance: none;
        width: 25px;
        height: 25px;
        aspect-ratio: 1 / 1;
        border: 2px solid darken(colors.$white, 15);
        border-radius: 50%;
        cursor: pointer;
        &:checked {
            background-color: colors.$white;
            box-shadow: inset 0 0 0 4px colors.$dark-grey;
        }
        &:checked + .answers-list__label {
            color: lighten(colors.$blue-clr, 10);
        }
    }
    &__label {
        transition: color 200ms ease;
        color: darken(colors.$blue-clr, 15);
        font-size: 1.2rem;
        text-align: center;
    }
}

.finished-quiz-result {
    display: none;
    position: absolute;
    inset: 0;
    background-color: colors.$nav;
    padding: 0.8rem;
    border-radius: 0.4rem;
    flex-direction: column;
    &.active {
        display: flex;
    }
    &__title {
        color: colors.$blue-clr;
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .quiz-statistics {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        &__points {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            gap: 1rem;
        }
        &__result-info {
            font-size: clamp(1.6rem, 1.5vw, 2.5rem);
            text-align: center;
            &_bad {
                color: colors.$transparent-red;
            }
            &_good {
                color: colors.$green
            }
        }
        &__view-answer-btn {
            background-color: lighten(colors.$nav, 20);
            border: none;
            font-family: 'Poppins', sans-serif;
            display: block;
            width: 100%;
            padding: 0.8rem 1.5rem;
            display: block;
            margin-top: 1rem;
            font-size: 1.1rem;
            border-radius: 0.4rem;
            cursor: pointer;
            color: #fff;
            &:hover {
                background-color: lighten(colors.$nav, 30);
            }
        }
        &__col {
            border-radius: 0.4rem;
            flex-grow: 1;
        }
        &__info {
            text-align: center;
            margin-bottom: 1rem;
            color: #fff;
            &_bad {
                color: colors.$transparent-red;
            }
            &_good {
                color: colors.$green;
            }
        }
        &__output {
            background-color: lighten(colors.$nav, 20);
            display: block;
            padding: 1rem;
            border-radius: 0.4rem;
            text-align: center;
            font-size: 2rem;
            &_correct {
                color: colors.$green;
            }
            &_badly {
                color: darken(colors.$light-red, 15);
            }
        }
    }
}