@use 'partials/navigation';
@use 'partials/colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 5rem;
}

body {
    background-color: colors.$bg;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    &.not-interactive {
        .nav__back-from-quizes {
            top: 1rem;
        }
        .available-quizzes-grid .quiz-figure {
            z-index: 4;
            cursor: pointer;
            & > * {
                pointer-events: none;
            }
        }
        &::before {
            content: '';
            position: fixed;
            inset: 0;
            z-index: 2;
            background-color: colors.$transparent-black;
            user-select: none;
        }
    }
}

html::-webkit-scrollbar {
    width: 20px;
}

html::-webkit-scrollbar-thumb {
    border: 5px solid lighten(colors.$bg, 5);
    background-color: darken(colors.$white, 30);
    border-radius: 2rem;
}

html::-webkit-scrollbar-track {
    background-color: lighten(colors.$bg, 5);
}

.main-content {
    min-height: 100vh;
    margin-top: 1rem;
    max-width: 95%;
    margin-inline: auto;
    color: colors.$white;
}

.overview-intro {
    min-height: 100vh;
    scroll-snap-align: center;
    &__title {
        font-size: clamp(1.8rem, 2vw, 3rem);
        text-align: center;
        margin-bottom: 1rem;
        .app-name {
            color: colors.$darker-blue;
        }
    }
    &__desc {
        text-align: center;
        font-size: 1.5rem;
    }
}

.available-quizzes-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1.4rem;
    margin-top: 2rem;
    max-width: 95%;
    margin-inline: auto;
    .quiz-figure {
        border: 2px solid darken(colors.$white, 20);
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: darken(colors.$nav, 2);
        transition: background-color 200ms;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: originate 1s var(--delay) forwards;
        opacity: 0;
        transform: scale(0.96);
        @keyframes originate {
            to {
                transform: scale(1);
                opacity: 1;
            }
        }
        &__quiz-type {
            margin-top: 1rem;
            &_programming {
                color: colors.$lime-green;
            }
            &_world {
                color: colors.$green;
            }
        }
        &:hover {
            background-color: lighten(colors.$nav, 5);
        }
        &__quiz-icon {
            font-size: 2rem;
            &_css {
                color: colors.$blue-clr;
            }
            &_js {
                color: colors.$yellow-clr;
            }
            &_html {
                color: colors.$orange-clr;
            }
            &_sass {
                color: colors.$pink-clr;
            }
            &_flag {
                color: colors.$transparent-red;
            }
            &_population {
                color: colors.$light-grey;
            }
        }
        &__quiz-name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
        &__about-quiz {
            margin-top: 1rem;
            text-align: center;
            font-size: 1.5rem;
            color: darken(colors.$white, 5);
        }
    }
    @media (max-width: 1400px) {
        & {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}

.quiz-name {
    text-align: center;
    color: colors.$white;
}

.quiz-html {
    display: none;
}

.redirect-notification {
    position: fixed;
    top: -5rem;
    left: 50%;
    z-index: 6;
    transform: translateX(-50%);
    border: 2px solid colors.$bg;
    background-color: colors.$white;
    color: colors.$nav-btn;
    padding-block: .5rem;
    width: min(90%, 400px);
    text-align: center;
    border-radius: .4rem;
    font-weight: 700;
    font-size: clamp(1rem, 1.4vw, 1.3rem);
    transition: top 200ms;
    &.active {
        top: 1rem;
    }
}

.app-description-section {
    &__title {
        text-align: center;
        font-size: clamp(1.4rem, 1.4vw + .7rem, 2.5rem);
        text-transform: capitalize;
        color: colors.$darker-blue;
        margin-bottom: 1.5rem;
    }
}

.available-quizes {
    &__title {
        font-size: clamp(1.2rem, 1.3vw + .5rem, 2.2rem);
        margin-bottom: 1rem;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    &__quiz {
        padding: .5rem 1rem;
        background-color: colors.$nav;
        border-radius: .4rem;
        font-size: 1.4rem;
        border: 2px solid lighten(colors.$nav, 20);
        cursor: default;
        transition: background-color 100ms;
        &:hover {
            background-color: lighten(colors.$nav, 5);
        }
        > span {
            color: colors.$blue-clr;
            &.not-available {
                color: colors.$transparent-red
            }
        }
    }
}
