@use 'partials/navigation';
@use 'partials/colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: colors.$bg;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    &.not-interactive {
        .nav__back-from-quizes {
            top: 1rem;
        }
        .available-quizzes-grid .quiz-figure {
            z-index: 4;
            cursor: pointer;
        }
        &::before {
            content: '';
            position: fixed;
            inset: 0;
            z-index: 2;
            background-color: colors.$transparent-black;
            user-select: none;
        }
    }
}

html::-webkit-scrollbar {
    width: 20px;
}

html::-webkit-scrollbar-thumb {
    border: 5px solid lighten(colors.$bg, 5);
    background-color: darken(colors.$white, 30);
    border-radius: 2rem;
}

html::-webkit-scrollbar-track {
    background-color: lighten(colors.$bg, 5);
}

.main-content {
    margin-top: 1rem;
    max-width: 95%;
    margin-inline: auto;
    position: relative;
    color: colors.$white;
    display: flex;
}

.overview-intro {
    &__title {
        font-size: clamp(1.8rem, 2vw, 3rem);
        text-align: center;
        margin-bottom: 1rem;
        .app-name {
            color: colors.$darker-blue;
        }
    }
    &__desc {
        text-align: center;
        font-size: 1.5rem;
    }
}

.available-quizzes-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1.4rem;
    margin-top: 2rem;
    max-width: 95%;
    margin-inline: auto;
    .quiz-figure {
        border: 2px solid darken(colors.$white, 20);
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: darken(colors.$nav, 2);
        transition: background-color 200ms;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: originate 1s var(--delay) forwards;
        opacity: 0;
        transform: scale(0.96);
        @keyframes originate {
            to {
                transform: scale(1);
                opacity: 1;
            }
        }
        &__quiz-type {
            margin-top: 1rem;
            &_programming {
                color: colors.$lime-green;
            }
            &_world {
                color: colors.$green;
            }
        }
        &:hover {
            background-color: lighten(colors.$nav, 5);
        }
        &__quiz-icon {
            font-size: 2rem;
            &_css {
                color: colors.$blue-clr;
            }
            &_js {
                color: colors.$yellow-clr;
            }
            &_html {
                color: colors.$orange-clr;
            }
            &_sass {
                color: colors.$pink-clr;
            }
            &_flag {
                color: colors.$transparent-red;
            }
            &_population {
                color: colors.$light-grey;
            }
        }
        &__quiz-name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
        &__about-quiz {
            margin-top: 1rem;
            text-align: center;
            font-size: 1.5rem;
            color: darken(colors.$white, 5);
        }
    }
    @media (max-width: 1400px) {
        & {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}

.quiz-name {
    text-align: center;
    color: colors.$white;
}

.quiz-interface {
    width: min(90%, 450px);
    border: 2px solid darken(colors.$white, 40);
    padding: 1.5rem 0.75rem;
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 0.4rem;
    background-color: colors.$dark-grey;
    &__question {
        color: colors.$white;
        text-align: center;
    }
    &__give-answer-btn {
        display: block;
        margin-inline: auto;
        border: none;
        background-color: colors.$nav;
        padding: 0.4rem 1.2rem;
        color: colors.$white;
        font-family: Poppins, sans-serif;
        font-size: 1.2rem;
        border-radius: 0.4rem;
        margin-top: 1.5rem;
        cursor: pointer;
        border: 2px solid darken(colors.$white, 20);
        transition: background-color 200ms;
        &:hover {
            background-color: lighten(colors.$nav, 10);
        }
    }
}
.answers-list {
    max-width: fit-content;
    margin-top: 1rem;
    list-style: none;
    margin-inline: auto;
    &__item {
        margin-top: 1rem;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__input {
        appearance: none;
        width: 25px;
        height: 25px;
        border: 2px solid darken(colors.$white, 10);
        border-radius: 50%;
        cursor: pointer;
        &:checked {
            background-color: colors.$lime-green;
            box-shadow: inset 0 0 0 4px colors.$dark-grey;
        }
        &:checked + .answers-list__label {
            color: colors.$lime-green;
        }
    }
    &__label {
        transition: color 200ms ease;
        color: darken(colors.$lime-green, 20);
        font-size: 1.2rem;
        text-align: center;
    }
}
