$bg: rgb(33, 33, 33);
$white: rgb(235, 235, 235);
$nav: rgb(66, 66, 66);
$transparent-nav: rgba(66, 66, 66, 0.719);
$dark-grey: rgb(44, 44, 44);
$nav-btn: rgb(0, 0, 0);
$pink-clr: rgb(205, 103, 153);
$yellow-clr: rgb(239, 216, 29);
$darker-blue: rgb(0, 119, 255);
$blue-clr: rgb(48, 177, 235);
$orange-clr: rgb(229, 76, 33);
$lime-green: rgb(23, 233, 163);
$green: rgb(23, 219, 23);