$bg: hsl(0, 0%, 13%);
$white: rgb(235, 235, 235);
$nav: rgb(66, 66, 66);
$dark-grey: rgb(44, 44, 44);
$nav-btn: rgb(0, 0, 0);
$pink-clr: #CD6799;
$yellow-clr: #EFD81D;
$blue-clr: #30B1EB;
$orange-clr: #E54C21;
$lime-green: rgb(0, 255, 170);