@use "colors";
.nav {
    padding: 1rem 2rem;
    display: flex;
    color: colors.$white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: colors.$transparent-nav;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 1;
    &__page-title {
        color: colors.$darker-blue;
        font-size: 2rem;
    }
    &__quiz-type {
        font-weight: 500;
    }
    &__change-quiz-btn {
        border: none;
        background-color: colors.$nav-btn;
        color: colors.$white;
        font-family: Poppins, sans-serif;
        padding: .4rem 1rem;
        border-radius: .3rem;
        border: 2px solid colors.$white;
        cursor: pointer;
        font-size: 1.1rem;
        transition: transform 150ms ease;
        &:active {
            transform: scale(.98);
        }
    }
}
